version: "3.8"

services:
  mongo:
    image: mongo:7
    container_name: mercadinho-mongo
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
    ports:
      - "27018:27017"
    volumes:
      - mongo-data:/data/db
    command: ["--bind_ip_all"]

  backend:
    build: ./backend
    container_name: mercadinho-backend
    restart: unless-stopped
    env_file:
      - ./backend/.env
    environment:
      - MONGODB_URI=mongodb://root:root@mongo:27017/mercadinho?authSource=admin
      - PORT=4000
    ports:
      - "4000:4000"
    depends_on:
      - mongo

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        VITE_API_BASE_URL: ${VITE_API_BASE_URL:-http://localhost:4000}
        VITE_LOCATION_PASSWORD: ${VITE_LOCATION_PASSWORD:-1234}
    container_name: mercadinho-frontend
    restart: unless-stopped
    ports:
      - "5173:80"
    depends_on:
      - backend

volumes:
  mongo-data:
